/* App Specific Styles */

@font-face {
    font-family: 'mozTT';
    src: url('../fonts/moztt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mozTT';
    src: url('../fonts/moztt_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'mozTT';
    src: url('../fonts/moztt_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

html, body {
 	margin: 0;
 	padding: 0;
 	font: 10px "mozTT", sans-serif;
 	background-color: #fff;
}

body {
 	background: none;
}

section[role="region"] {
 	margin-bottom: 1.5rem;
 	position: relative;
}

/* Header bar and Toolbar Buttons */

#install {
	display: none; /* We will show this if the app needs to be installed by applying show-install */
}

#reload {
	margin: 0 auto;
 	background-image: url(toolbars/images/update.png);
}

.show-button {
	display: inline-block;
}

/* Style individual tweets */

.tweet {
	border-bottom: 1px solid #eee;
}

.tweet img {
	float: left;
	margin-right: 1rem;
}

.tweet strong {
	display: inline-block;
}

.tweet p {
	width: 70%;
	display: inline-block;
}
